@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

padding-top:140px;

}

.left{

width:100%;

margin-bottom:50px;

}

.right{

width:100%;

}

.left h1{

font-size:45px;

}

.buttons{

justify-content:center;

}

nav{

padding:20px 5%;

}

nav ul{

gap:15px;

}

}

.about-container{

flex-direction:column;

text-align:center;

}

.about-content ul{

list-style:none;

margin-left:0;

}

@media(max-width:768px){

.timeline::after{

left:25px;

}

.timeline-item{

width:100%;

left:0!important;

padding-left:70px;

padding-right:20px;

}

}